<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.interspace.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>interspace</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.ReverseClientId</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GIDServerClientID</key>
	<string>$(GOOGLE_SERVER_CLIENT_ID)</string>
	<key>INFURA_API_KEY</key>
	<string>$(INFURA_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>metamask-app</string>
		<string>https</string>
		<string>cbwallet</string>
		<string>wc</string>
		<string>rainbow</string>
		<string>trust</string>
		<string>argent</string>
		<string>gnosissafe</string>
		<string>family</string>
		<string>phantom</string>
		<string>oneinch</string>
		<string>zerion</string>
		<string>imtoken</string>
		<string>tokenpocket</string>
		<string>spot</string>
		<string>omni</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>WALLETCONNECT_PROJECT_ID</key>
	<string>$(WALLETCONNECT_PROJECT_ID)</string>
</dict>
</plist>
