<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:interspace.app</string>
		<string>webcredentials:interspace.com</string>
		<string>webcredentials:interspace.fi</string>
		<string>webcredentials:staging-api.interspace.fi</string>
		<string>webcredentials:api.interspace.fi</string>
		<string>webcredentials:f621-184-147-176-114.ngrok-free.app</string>
		<string>applinks:interspace.app</string>
		<string>applinks:interspace.com</string>
		<string>applinks:interspace.fi</string>
		<string>applinks:staging-api.interspace.fi</string>
		<string>applinks:api.interspace.fi</string>
		<string>applinks:f621-184-147-176-114.ngrok-free.app</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
</dict>
</plist>
